
.TitleContainer {
  height: 9vh;
  width: 100vw;
  background-color: white;
}
.content {
  display: inline-block;
  line-height:100%;
  width: 100vw;
  text-align: center;
  font-family: "cursive";
  font-size: 150%;
}
